
.banner {
    color: #000;
    background: #fff;
    width: 1000px;
    height: 51px;
    display: flex;
    margin-left: 8rem;
    margin-top: 2.7rem;
    gap: 33px;
}

.ej {
    background: #ccc;
    width: 95px;

}
.services {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 801px;
    gap: 5px;
    
} 

.transport, .warehouse, .air, .local {
    display: flex;   
    gap: 16px;
}

.headed h1 {
    font-weight: bold;
} 

.trans {
    margin-top: 30px;
    margin-left: 20px;
}

.tra {
    margin-top: 3rem;
}

@media (width <=48em) {
    .banner {
        margin-left: 12em;
        width: 120em;
    }
    .ej {
        width: 250px;
        font-size: 25px;
        padding: 18px;
        font-weight: bold;
    }

    .headed {
        font-weight: bold;
        font-size: 25px;
    }

    .joy {
        font-size: 22px;
        width: 350px;
    }
}
