.choose {
    margin-top: 5rem;
}

.firstbg {
    background: #091242;
    width: 100%;

    
}
.secondbg {
    background: #f4f4f4;  
    width: 100%;
}

.aero {
    margin-top: 8rem;
}

.why {
    display: flex;
    width: 1920px;
    width: 100%;
    height: 500px;
    position: absolute;
}

.whhy {
    background: #091242;
    color: #fff;
    width: 130px;
    padding: 5px;
}

.aeroplane {
    width: 600px;
    height: 300px;
    position: relative;
    margin-left: 8rem;
}

.plane {
    position: relative;
    margin-top: 6rem;
    margin-left: 2rem;
}

.opp {
    width: 500px;
}
    

.yemi {
    display: flex;
    color: #000;
    position: relative;
    top: 0;
    
    

}

.unordered {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1rem;
    list-style: none;

}

.unordered li {
    margin-top: 8px;
}

.package {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.line {
    width: 200px;
    display: flex;    
}

.feature {
    position: absolute;
    left: 0;
    margin-top: 13.7rem;
    width: 250px;
    margin-left: 18rem;
}
@media screen and (max-width: 37.5em) {
    
    .why {
        width: 107em;
        
    }
    .plane {
        margin-left: 10em;
        line-height: 1.5;
        
    }
    .opp  {
        width: 600px;
    }

    .whhy, .odd {
        width: 500px;
    }
    
    .opp, .odd, .whhy  {
        font-size: 40px;
    }

    .firstbg {
        
        height: 990px;
    
        
    }
    .secondbg {
        height: 990px;
    }

    .line{
        font-size: 30px;
        width: 300px;
    }

    .aeroplane {
        margin-top: 20em;
    }
    .feature {
        margin-top: 32em;
    }
}

