.footer {
    margin-top: 5rem;
    background: #091242;
    max-width: 1920px;
    width: 100%;
    height: 900px;   
    
}

.footerpic{
    max-width:1920px;
    width: 100%;
    height: 412px;
}

.logof {
position: relative;
margin-top: 20px;
background: #091242;
height: 50px;
padding: 15px;
}

.choke {
    display: flex;
    margin-left: 14rem;
}

.foot {
    width: 200px;
}

.oot {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    margin-left: 10rem;
    list-style: none;

}

.oja {
    display: flex;
    position: absolute;
    top: 6958px;
    left: 413px;
    gap: 25px;
    margin-top: 60px;
    margin-left: 30px;
    list-style: none;

}

.oja li {
    gap: 10px;
    margin-top:18px;
    width: 110px;
   
}
.snd {
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    color: black;
    height:50px;
    width: 120px;
    cursor: pointer;
    list-style: none;
    
}

.snd:hover {
    background: #ccc;
}

.inp {
    width: 250px;
    height: 50px;
}

.tyy {
    background:#4E5683;
    max-width: 1920px;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 1;
}

.cy {
    margin-top: 15rem;
    margin-left: 13rem;
    display: flex;
    font-size: 13.5px;

   
}

.right {
    font-family: krub;
    color: #8388A7;
    list-style: none;
    display: flex;
    
}

.right li {
    margin-left: 5px;
    list-style: none;
   
}

.sub li {
    display: flex;
}

 
@media (width <=48em) {
.footer {
    width: 105em;
    margin-top: 80em;
    height: 1000px;
}
.tyy {
    width: 105em;
}
.oja {
    margin-top: 266em;
    margin-left: 9em;
}
.oja li, .oja h3  {
    font-size: 20px;
}
.foot {
    font-size: 20px;
    width: 250px;
    margin-top: 4em;
}
.copy {
    font-size: 20px;
    
}

.logof {
    display: none;
}

}




