
    .header {
        background:#091242;
        max-width: 1920px;
        width: 1400px;
        height: 160px;
        color:#fff;   
        top: 0;
    
    
        
    }

    .logo-header {
        display: flex;
        justify-content: center;
        width: 1,199px;
        height: 68px;
        margin-top:46px;
        margin-left: 185px;
        position: absolute;
        left: 0;
        gap: 44px
    } 
    .list {
        display: flex;  
        width: 400px;
        height: 80px;
        list-style: none;
        gap:15px;
        cursor: pointer;
        
    } 

    .iyami {
        width: 155px;
        height: 36px;
        margin-top: 16px;
        margin-left: 5.13px;
    }


    @media (width <=48em) {
        .header {
            width: 105em;
        }

        .logo-header {
            width: 50em;
            position: absolute;
            left: 0;
            
        }

        .list {
            width: 40em;
        }
    }

    
