.navbar {
    color: #fff;
    background: #111C55;
    height:60px;
    max-width: 1920px;
    width: 1400px;
    top: 0;
    bottom: 0;
    
}

nav {
    margin-left: 110px;
    display: flex;
    
}

.menu {
    margin-left: 90px;
    display: flex;
    list-style: none;
    cursor: pointer;
    
}

.menu li {
    margin-left: 20px;
}

.men {
    display: flex;
    list-style: none;
    cursor: pointer;
}

.men li {
    margin-left: 20px;
}


.cote {
    margin-left: 35px;
    width: 140px;
    height:60px;
   
    background: #ffffff;
    font-size: 17px;
}

@media (width <=48em) {
    .navbar {
        width: 105em;
    }

    nav {
        margin-left: 12em;
    }
    .men li {
        margin-left: 1.5em;
        font-size: 1.5em;
        font-family: "Roboto", sans-serif;
    }

    .menu li {
        margin-left: 1.5em;
        font-size: 1.6em;
    }

    .cote {
        font-size: 20px;
        font-weight: bold;
    }
}

