
  @import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@1,200&display=swap');


.showcase {
    background: url('/public/accent/image/Background.png');
    background-size:cover;
    background-position:center;   
    height: 500px; 
    top: 100px;
    left: -38px;
}

.show {
    width: 471px;
    height: 375px;
    gap: 4px;
    color: #fff; 
    margin-top: 3rem;
    margin-left: 9rem;
    position: absolute;

}
.lead {
    background: #041C3780;
    width: 280px;
    height: 50px;
    padding: 15px;
    
}

.details {   
    width: 500px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24.24px;
    font-family: 'Krub', sans-serif;
}

.btn-cote {
    width: 194px;
    height: 60px;
    font-size: 17px;
    font-weight: bold;
    background: url('/public/accent/image/Background-btn.png');
}

@media (width <=48em) {
    .showcase {
        
        width: 120em;
        height:550px;
       
    }
    .show {
        margin-left: 13em;
    }
    .lead {
        font-size: 1.25em;
        padding: 1em;
        width:20em;
        height: 4em;
        font-weight: bold;
    }
   .details {
    font-size: 20px;
    line-height: 26.2px;

   }
   .btn-cote {
    font-size: 22px;
    height: 70px;
    font-weight: bold;
   }
}

