.testimonial {
    color: #000;
    width: 900px;
    margin-left: 14rem;
    display: flex;
    flex-direction: column;   
    margin-top: 3em;
    
}




.ego {
    display: flex;
    justify-content: space-between;
}

.arrow {
    margin-top: 59px;
    cursor: pointer;
   
}

.monial {
    display: flex;   
}

.nial {
    width: 450px;
    margin-top: 5px;
}
.ti {
    background: #ccc;
    width: 105px;
    padding: 10px;
    display: flex;
    justify-content: center;
} 

@media (width <=48em) {
    .testimonial {
        margin-top: 30em;
        width: 71em;

    }
    .ti, .tip {
        font-size: 40px;
        width: 500px
    }

    .ego {
        margin-left: 4em;
    }

    .arrow {
        margin-top: 189px;
        cursor: pointer;
        margin-left: 12px;
       
    }

    .nial {
        width: 600px;
    }
    


}
